
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <br>
  <br>
  <div class="card-group mt-10">
    <div class="card">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSybWHK0fg19GnnhfeE6ilpkVK-KjukRF2_eg&usqp=CAU" alt="Card image cap" height="245px" width="180px">
      <div class="card-body">
        <h5 class="card-title">Leadership</h5>
        <span class="badge badge-primary mb-2">Lead the role</span>
                  <span class="badge badge-success mb-2">Responsive</span>
      
        <p class="card-text">Leadership is a process by which an executive can direct, guide and influence the behavior and work of others towards accomplishment of specific goals in a given situation.</p>
      </div>
            <div class="info">
      <a href="#" class="btn btn-info" >Go somewhere</a>
            </div>
            <br>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtyEcYrQCuYGQDP8Le_Oo7tyMYRnqlEh0zHw&usqp=CAU" alt="Card image cap" height="245px" width="180px">
      <div class="card-body">
        <h5 class="card-title">Innovations</h5>
        <span class="badge badge-primary mb-2">Neaw ideas</span>
                  <span class="badge badge-success mb-2">Something New</span>
      
        <p class="card-text">Innovation is the practical implementation of ideas that result in the introduction of new goods or services or improvement in offering goods or services.</p>
      </div>
      <div class="info">
      <a href="#" class="btn btn-info" >Go somewhere</a>
    </div>
    <br>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRD2_bSWEP7va2OBjGx1tEaye_COjVZItyMQ&usqp=CAU" alt="Card image cap" height="245px" width="180px">
      <div class="card-body">
        <h5 class="card-title">Commitment</h5>
        <span class="badge badge-primary mb-2">Consistency</span>
                  <span class="badge badge-success mb-2">Responsive</span>
      
        <p class="card-text">Often, when you hear someone discuss why they fell in love with their other half, they will mention that they have the same values.</p>
      </div>
      <div class="info">
      <a href="#" class="btn btn-info" >Go somewhere</a>
    </div>
    <br>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</body>
</html>